@*@model ScholarshipSolution.Models.TempUser

    @{
        ViewBag.Title = "Login";
    }

    <h2>Login</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TempUser</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email,"Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@


@model ScholarshipSolution.Models.Professor

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register as Professor</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    @Styles.Render("~/Content/css/montserrat-font.css")
    @Styles.Render("~/Content/css/material-design-iconic-font.min.css")
    @Styles.Render("~/Content/cssassets/vendor/aos/aos.css")
    @Styles.Render("~/Content/vendor/remixicon/remixicon.css")
    @Styles.Render("~/Content/vendor/swiper/swiper-bundle.min.css")
    @Styles.Render("~/Content/vendor/glightbox/css/glightbox.min.css")
    <!-- Main Style Css -->
    @Styles.Render("~/Content/css/style2.css")
    @Styles.Render("~/Content/css/style.css")
</head>




<body class="form-v10">
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="#hero" class="logo d-flex align-items-center">
                <img src="~/Content/img/logo.png" alt="">
                <span style="color:#ff758f;">Scholarship Solution</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="https://localhost:44305/">Home</a></li>
                    <li><a class="nav-link scrollto" href="#">University</a></li>
                    <li><a class="nav-link scrollto" href="#">Scholarship</a></li>
                    <li><a class="nav-link scrollto" href="#">Contact</a></li>
                    <li><a class="nav-link scrollto" href="#">About Us</a></li>
                    <li><a class="nav-link scrollto " style="margin-left:35px; " href="#">Log in</a></li>
                    @*<li class="getstarted scrollto">@Html.ActionLink("Sign Up", "Create", "Students")</li>*@
                    <li><a class="getstarted scrollto" href="~/Students/Create/">Sign Up</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header>
    <div class="page-content">
        <div class="form-v10-content">
            <form class="form-detail" action="#" method="post" id="myform">
                @Html.AntiForgeryToken()
                <div class="form-left">
                    <h2>Login</h2>

                    @*<div class="form-row">
                            <select name="title">
                                <option class="option" value="title">Title</option>
                                <option class="option" value="businessman">Businessman</option>
                                <option class="option" value="reporter">Reporter</option>
                                <option class="option" value="secretary">Secretary</option>
                            </select>
                            <span class="select-btn">
                                <i class="zmdi zmdi-chevron-down"></i>
                            </span>
                        </div>*@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-row">
                        @Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            @*<input type="text" name="first_name" id="first_name" class="input-text" placeholder="First Name" required>*@
                        </div>
                    </div>
                    <div class="form-row">
                        @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-row">
                        @Html.LabelFor(model => model.Password, "Password", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-row-last">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>

                </div>

            </form>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>