@model IEnumerable<ScholarshipSolution.Models.University>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UniName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UniName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniPicture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UniID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UniID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UniID })
        </td>
    </tr>
}

</table>
